.request-btn {
    height: 26px;
    border: none;
}

.center_align{
    text-align: center;
}

.services-list{
    padding-bottom: 121px;
    list-style: none;
    padding-inline-start: 0;
}

.services-list-item {
    margin-bottom: 10px;
}
.lable-title{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 8px;
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 100%;
}
.containerdata{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.left-text {
  white-space: nowrap; /* Prevents text wrapping */
  margin-right: auto; /* Pushes the right-text to the far right */
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased; /* Prevents shrinking */
}
.right-text {
  flex: 1;
  text-align: right;
  color: #9f9e9e;
  width: fit-content;
}

.p-unfold-icon,
.p-fold-icon {
  margin-right: 5px;
  color: black;
  display: table-cell;
  font-size: 28px;
  font-size: 160%;
  width: 25px;
  font-family: sans-serif;
  vertical-align: middle;
}

.p-unfolder0~.p-fold {
  display: none;
}

.p-unfolder0~label .p-fold-icon {
  display: none;
}

.p-unfolder0:checked~.p-fold {
  display: block;
}

.p-unfolder0:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder0:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/

.p-unfolder1~.p-fold {
  display: none;
}

.p-unfolder1~label .p-fold-icon {
  display: none;
}

.p-unfolder1:checked~.p-fold {
  display: block;
}

.p-unfolder1:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder1:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder2~.p-fold {
  display: none;
}

.p-unfolder2~label .p-fold-icon {
  display: none;
}

.p-unfolder2:checked~.p-fold {
  display: block;
}

.p-unfolder2:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder2:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder3~.p-fold {
  display: none;
}

.p-unfolder3~label .p-fold-icon {
  display: none;
}

.p-unfolder3:checked~.p-fold {
  display: block;
}

.p-unfolder3:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder3:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder4~.p-fold {
  display: none;
}

.p-unfolder4~label .p-fold-icon {
  display: none;
}

.p-unfolder4:checked~.p-fold {
  display: block;
}

.p-unfolder4:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder4:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder5~.p-fold {
  display: none;
}

.p-unfolder5~label .p-fold-icon {
  display: none;
}

.p-unfolder5:checked~.p-fold {
  display: block;
}

.p-unfolder5:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder5:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder6~.p-fold {
  display: none;
}

.p-unfolder6~label .p-fold-icon {
  display: none;
}

.p-unfolder6:checked~.p-fold {
  display: block;
}

.p-unfolder6:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder6:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder7~.p-fold {
  display: none;
}

.p-unfolder7~label .p-fold-icon {
  display: none;
}

.p-unfolder7:checked~.p-fold {
  display: block;
}

.p-unfolder7:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder7:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder8~.p-fold {
  display: none;
}

.p-unfolder8~label .p-fold-icon {
  display: none;
}

.p-unfolder8:checked~.p-fold {
  display: block;
}

.p-unfolder8:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder8:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder9~.p-fold {
  display: none;
}

.p-unfolder9~label .p-fold-icon {
  display: none;
}

.p-unfolder9:checked~.p-fold {
  display: block;
}

.p-unfolder9:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder9:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder10~.p-fold {
  display: none;
}

.p-unfolder10~label .p-fold-icon {
  display: none;
}

.p-unfolder10:checked~.p-fold {
  display: block;
}

.p-unfolder10:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder10:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder11~.p-fold {
  display: none;
}

.p-unfolder11~label .p-fold-icon {
  display: none;
}

.p-unfolder11:checked~.p-fold {
  display: block;
}

.p-unfolder11:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder11:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder12~.p-fold {
  display: none;
}

.p-unfolder12~label .p-fold-icon {
  display: none;
}

.p-unfolder12:checked~.p-fold {
  display: block;
}

.p-unfolder12:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder12:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/
.p-unfolder13~.p-fold {
  display: none;
}

.p-unfolder13~label .p-fold-icon {
  display: none;
}

.p-unfolder13:checked~.p-fold {
  display: block;
}

.p-unfolder13:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder13:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/

.p-unfolder14 ~ .p-fold {
  display: block;
}

.p-unfolder14 ~ label .p-fold-icon {
  display: inline-block;
}

.p-unfolder14 ~ label .p-unfold-icon {
  display: none;
}

.p-unfolder14:checked ~ .p-fold {
  display: none;
}

.p-unfolder14:checked ~ label .p-fold-icon {
  display: none;
}

.p-unfolder14:checked ~ label .p-unfold-icon {
  display: inline-block;
}
/*---------------------------*/

.p-unfolder15~.p-fold {
  display: none;
}

.p-unfolder15~label .p-fold-icon {
  display: none;
}

.p-unfolder15:checked~.p-fold {
  display: block;
}

.p-unfolder15:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder15:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/

.p-unfolder16~.p-fold {
  display: none;
}

.p-unfolder16~label .p-fold-icon {
  display: none;
}

.p-unfolder16:checked~.p-fold {
  display: block;
}

.p-unfolder16:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder16:checked~label .p-unfold-icon {
  display: none;
}

.p-fold-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
  
.p-fold-table,
  th,
  td {
    border: 0.5px solid #8e8e8e;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -25px;
}

.p-fold {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding-left: 15px;
    /* margin-top: 15px; */
}
.p-fold2 {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding-left: 15px;
  margin-top: 15px;
}

.p-subtoggle-label {
    max-width: 1000px;
    font-weight: bold;
    display: table;
    cursor: pointer;
    /* border-radius: 5px; */
    padding: 5px 10px;
    /* width: 100%; */
}
.license{
  font-family: 'Courier New', Courier, monospace;
  font-size: 90%;
}
  
.description-p {
    margin-left: 25px;
}

.article_style {
    overflow: hidden;
    background-color: #f5f5f5;
    margin-bottom: 2.5rem;
    display: block;
    box-sizing: border-box;
    margin-right: 0.2em;
    width: 223px;
    height: 90px;
    display: inline-block;
}

.p-label-title {
    margin: 1px;
    font-weight: bold;
    text-align: left;
    font-size: 100%;
    line-height: 2.5;
    line-height: 1.5;
    vertical-align: middle;
    display: table-cell;
    -webkit-font-smoothing: antialiased;
}

.sub_icons {
    color: #14a79c;
}

.p-label-sub-title {
    margin: 1px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: normal;
    color: #14a79c;
}
.p-label-sub-title1 {
  margin: 1px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: #000000;
}

.top-description {
    font-weight: normal;
}

.bottom_description {
    font-size: 85%;
}


.resources-container{
  background-color: white;
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 0px;
  background-repeat: no-repeat;
  background-position: right bottom;  
  padding-right: 45px;
  padding-left: 45px;
}
.p-description-p1{
  text-align: left;
  margin-top: 15px;
}
.article_style_large {
  overflow: hidden;
  background-color: #f5f5f5;
  margin-bottom: 2.5rem;
  display: block;
  box-sizing: border-box;
  margin-right: 0.2em;
  width: 223px;
  height: 140px;
  display: inline-block;
}
.h2_style{
  font-size: 15px;
  margin-left: 10px;
}


@media screen and (max-width:600px) {
  .resources-container {
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: right bottom;
    
  }
  
  .right-text{
    display: none;
  }
  .container1{
    display: inline;
  }

  .left-text {
    padding-top: 7.5px;
    white-space: normal;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    /* white-space: nowrap; */
    /* font-size: 11.5px; */
    margin-right: auto;
    flex-shrink: 0;
  }
.description-p {
  margin-left: 15px;
}
.p-fold {

  padding-left: 0;

}
}
@media (width: 540px) {
  .left-text {
    padding-top: 7.5px;
    white-space: nowrap;
    margin-right: auto;
    flex-shrink: 0;
    font-size: 100%;
}
}

.sup_style{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    margin-left: 2px;
    color: #454545;
}