textarea {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  background-color: white;
  /*margin-bottom: 0.5cm;*/
  width: 70%;
  height: 1.5cm;
  text-align: right;
  /*font-size: 16px;*/
  direction: rtl;
   padding: 12px 20px;
}
/*
.intro-section h1 {
  font-size: 35px;
}*/
#container-div {
  margin-right: 0rem;
  margin-left: 0rem;
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/*
.container {
  font-size: 18px;
}*/

h4 {
  font-weight: bold;
}

.ontology-img {
  margin-top: 15px;
  margin-left: 7px;
}

.Navigation {
  text-decoration: none;
  /*font-size: 13px;*/
  margin-left: 1rem;
}

.sign {
  /*font-size: 12px;*/
  color: #000000;
}

.form-group {
  text-align: center;
}

.top-bar-1 {
  background-color: #efefef;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 8px 14px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-family: Arial;
  /*font-size: 13px;*/
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/*
.output_label {
  font-size: 18px;
}*/

#output {
  /*font-size: 18px;*/
  line-height: 50px;
  unicode-bidi: plaintext;
}

.a-description {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 0rem;
}

.table-description {
  margin-left: 1rem;
  /* width: 32rem; */
}

#output ul {
  list-style-type: none;
  float: right;
  text-align: right;
  direction: rtl;
  /*font-size: 20px;*/
}

#output ul li {
  margin-bottom: 15px;
  margin-right: 100px;
}

/* span {
  padding-left: 7px;
  padding-right: 7px;
  margin: 0px;
  border-radius: 0.3em;
  unicode-bidi: plaintext;
  border-left-style: solid;
  border-right-style: solid;
  border-left-color: white;
  border-right-color: white;
  border-width: thin;
} */

.combo {
  text-align: center;
  margin-top: 10px;
}


[data-entity]:after {
  box-sizing: border-box;
  content: attr(data-entity);
  font-size: 0.55em;
  padding: 0.35em 0.35em;
  border-radius: 0.35em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  margin: 0 0 0.15rem 0.5rem;
  background: #fff;
  font-weight: bold;
}

.p-fold {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding-left: 15px;
  
}

.description-p {
  margin-left: 25px;
  padding-top: 15px;
  padding-right: 15px;
}

label {
  margin-bottom: 0;
  font-weight: normal;
}


.p-unfolder0~.p-fold {
  display: none;
}

.p-unfolder0~label .p-fold-icon {
  display: none;
}

.p-unfolder0:checked~.p-fold {
  display: block;
}

.p-unfolder0:checked~label .p-fold-icon {
  display: table-cell;
}

.p-unfolder0:checked~label .p-unfold-icon {
  display: none;
}

/*---------------------------*/

.p-unfolder14~.p-fold {
  display: block;
}

.p-unfolder14~label .p-fold-icon {
  display: inline-block;
}

.p-unfolder14~label .p-unfold-icon {
  display: none;
}

.p-unfolder14:checked~.p-fold {
  display: none;
}

.p-unfolder14:checked~label .p-fold-icon {
  display: none;
}

.p-unfolder14:checked~label .p-unfold-icon {
  display: inline-block;
}

/*---------------------------*/

.p-fold-table-arbanking77 {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  border-spacing: 0.04rem;
}

.p-fold-table-arbanking77,
th,
td {
  border: 0.5px solid #8e8e8e;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -25px;
}


input[type=submit] {
  background-color: #14a79d;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  /*font-size: 15px;*/
  padding: 11px 22px;
  text-decoration: none;

}

input[type=button] {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  /*font-size: 15px;*/
  padding: 11px 22px;
  text-decoration: none;
  margin-right: 10px;
}

input[type=submit]:not(:disabled):hover {
  background: #14a79c;
}

input[disabled] {
  opacity: 0.5;
}

input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty {
  border-color: red;
  box-shadow: 0 0 4px red;
}

.firstColumn-arbanking77 {
  width: 20%;
  max-width: 10rem;
  padding: 5px;
  /* padding-right: 5px; */
}

.secondColumn-arbanking77-api {
  padding: 5px;
}

.description_fold {
  padding-left: 0rem;
}


.entity_description {
  font-size: 80%;
}

.td_class {
  border: none;
}

.middle_column {
  width: 7rem;
}


ol {
  margin-left: -1rem;
}

.ner_org {
  background-color: #43c6fc;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-color: #2f88ab;
}

.ner_loc {
  background-color: #f3bf82;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-color: #eba34e;
}

.ner_date {
  background-color: #3fc1b2;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom-color: #268378;
}

.ner_pers {
  background-color: #a6e22d;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom-color: #75a318;
}

.ner_occ {
  background-color: #f198c3;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-color: #ab6586;
}

.ner_group {
  background-color: #ef60b4;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom-color: #d7439a;
}

.ner_gpe {
  background-color: #edb473;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-color: #fb9013;
}

.ner_fac {
  background-color: #CCCCFF;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-color: #a0a0d5;
}

.ner_event {
  background-color: #fc0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-color: #cba50e;
}

.ner_time {
  background-color: #efa9ba;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-color: #cf8598;
}

.ner_cardinal {
  background-color: #adcedb;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: #90afbb;
}

.ner_ordinal {
  background-color: #09a3d5;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: #097da3;
}

.ner_percent {
  background-color: #bbb;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: #9b9999;
}

.ner_quantity {
  background-color: #b9c1fd;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom-color: #9aa0cf;
}

.ner_unit {
  background-color: #9900FF;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: #60079b;
}

.ner_money {
  background-color: #ed8686;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom-color: #c37171;
}

.ner_currency {
  background-color: #FF0099;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: #dd0888;
}

.ner_language {
  background-color: #ffea94;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: #e3d186;
}

.ner_product {
  background-color: #55b56b;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: #388d4b;
}

.ner_work_of_art {
  background-color: #fff94c;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: #d5d14e;
}

.ner_law {
  background-color: #9966CC;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: #8359ad;
}


.arbanking77-container{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 0;
  margin: 0px;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-right: 45px;
  padding-left: 45px;
}

.center-align{
  text-align: center;
}

.arbanking77-subtitle{
  color:black;
}
.p-label-title {
  margin: 1px;
  font-weight: bold;
  text-align: left;
  padding-left: 1rem;
  /*font-size: 100%;*/
  line-height: 2.5;
  line-height: 1.5;
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}

.p-toggle-label{
  max-width: 100%;
  font-weight: bold;
  display: table;
  cursor: pointer;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid grey;
  background-color: whitesmoke;
  width: 100%;
}

.services-list{
  padding-bottom: 121px;
  list-style: none;
  padding-inline-start: 0;
}

.services-list-item {
  margin-bottom: 25px;
}

.p-unfold-icon, .p-fold-icon {
  margin-right: 5px;
  color: black;
  display: table-cell;
  font-size: 160%;
  width: 25px;
  font-family: sans-serif;
  vertical-align: middle;
  border: none;
}

.remove-padding{
  padding:0rem;
}

.footer-content>div>* {
  border:none;
}

#myBtnContainer{
  /* margin-bottom: 1rem; */
}
/*
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border: none;
}

@media screen and (max-width: 767px){
  .table-responsive {
    border: none;
  }
}*/


.card {
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.intent {
  font-weight: bold;
}

.sentence {
  margin-top: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.arbanka77_shared_task_colors{
  color: #14a79c;
}
.arbanka77_shared_task_title{
  font-weight: normal;
}
.arbanka77_shared_task_ul_style{
  margin-bottom: 10px;
}
.intro-section {
  background-color: white;
  padding-right: 20px;
  padding-left: 45px;
  padding-top: 35px;
  margin: 0px;
  background-image: url(Images/header_image.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media screen and (max-width: 540px){
  textarea{
    width: 92%;
  }
  .arbanking77-container{
    padding-right: 10px;
    padding-left: 10px;
  }
  .description-p{
    padding-left: 0;
    margin-left: 15px;
  }
  textarea{
    padding: 3px;
  }
  .intro-section {
    padding-right: 10px;
    padding-left: 10px;
  
  }
  .card{
    width: 150px;
  }

}